# Defines the Google style for automatic reformatting.
# http://clang.llvm.org/docs/ClangFormatStyleOptions.html
BasedOnStyle: Google
Standard: c++20
ColumnLimit: 0
IndentWidth : 4

# 不使用tab键
UseTab : Never
# 使用\n换行
UseCRLF : false
# 所有的大括号都换行并且无额外缩进
BreakBeforeBraces: Allman
# 允许inline的函数写在一行内
AllowShortFunctionsOnASingleLine : Inline
# 数组初始化右对齐
AlignArrayOfStructures : Right
# 对其赋值
AlignConsecutiveAssignments : Consecutive 
# 对其声明的变量
AlignConsecutiveDeclarations : Consecutive
# 允许单行swich case
AllowShortCaseLabelsOnASingleLine : true
# 换行\右对齐
AlignEscapedNewlines : Right
